@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/base.scss";
@import "./components/components.scss";
@import "./layouts/layouts.scss";
@import "./pages/accueil.scss";

@media screen and (min-width:768px) and (max-width: 992px) {
    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .card-restaurant {
        width: 45%;

    }


    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .titre-menu {
        @include titre-media;
    }

    .titre-accueil {
        @include titre-media;
    }

    .etape {
        width: 60%;
    }

    .options {
        @include options;
        align-items: center;
    }


    .option-menu-rapide {
        width: 60%;

        &:hover {
            .nom-plat {
                width: 80%;
            }


        }
    }

    .option-menu-moyen {
        width: 60%;

        &:hover {
            .nom-plat {
                width: 80%;
            }


        }
    }

    .option-menu-lent {
        width: 60%;

        &:hover {
            .nom-plat {
                width: 80%;
            }


        }
    }

    .bouton-commander {
        margin-top: 60px;
    }

    .image-principale {
        height: 400px;
    }

}

@media screen and (min-width:993px) {

    body {
        width: 90%;
    }

    .etape {
        width: 40%;
    }

    .titre-accueil {
        @include titre-media;
    }

    .titre-menu {
        @include titre-media;
    }


    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-restaurant {
        width: 20%;
        height: 300px;
    }

    .card-restaurant img {
        height: 60%;
    }

    .texte-restaurant {
        height: 40%;

        i {
            top: 12%;
        }
    }

    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .options {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .option-menu-rapide {
        width: 30%;
        text-decoration: none;

    }

    .option-menu-moyen {
        width: 30%;
    }

    .option-menu-lent {
        width: 30%;
    }

    .bouton-commander {
        margin-top: 60px;
    }

    .header {
        margin-left: 10%;
        margin-right: 10%;
    }

    .image-principale {
        height: 600px;
        margin: auto;
    }

    .logo {
        width: 50%;
    }

    .arrow-icon {
        font-size: xx-large;
    }

}

@media screen and (max-width:300px) {
    .texte-option-menu {
        font-size: 10px;
    }

    .titre-option-menu {
        font-size: 12px;
    }

    .titre-principal {
        font-size: 1.2em;
    }

    .bloc-titre-principal {
        i {
            top: 15px;
        }
    }

    .form {
        font-size: 12px;
    }

    .bouton-explorer {
        font-size: 12px;
    }

    .etape {
        width: 90%;
    }

    .bouton-commander {
        width: 60%;
        margin-left: 20%;
    }

}