@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,700&display=swap');


$color-primary: #F2F4F4;
$color-secondary: #ffffff;

@mixin border {
    border: 1px solid #dcdcdc;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    box-sizing: content-box;
    margin: auto;
}

main {
    border-radius: 20px;
    @include column;
}

.loader {
    background-color: white;
    opacity: 1;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-animation: disappear 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.loader-icon {
    border: 10px solid white;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spin 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes disappear {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
    }
}

.header {
    padding-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    @include column;
}

.logo {
    text-align: center;

    img {
        width: 40%;
    }
}



.formulaires {
    @include column;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: $color-primary;
    padding-bottom: 40px;
    margin-top: 20px;
}

.menu {

    background-color: $color-primary;
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 30px;
}

.lieu {
    display: flex;
    background-color: #cfd2d2;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.image-principale {
    width: 100%;
    height: 250px;

    img {
        height: 100%;
        width: 100%;
    }
}



.form {
    @include column;
    width: 60%;
}

.fonctionnement {
    @include column;
    height: 450px;
}

.bloc-titre-principal {
    display: flex;
    justify-content: space-between;
}

.titre {
    font-size: larger;
    margin-left: 20px;
}

.etapes {
    @include column;
    align-items: center;
    gap: 30px;
}

.etape {
    width: 80%;
    display: flex;
    text-align: center;

}

.entrées {
    @include options;
}

@-webkit-keyframes display {
    from {
        opacity: 0;
        -webkit-transform: translateY(0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(-15px);
    }
}

@-webkit-keyframes translate {
    0% {}

    100% {}
}

.plats {
    @include options;
}

.desserts {
    @include options;
}

.options {
    @include options;
}

.option-menu-rapide {
    -webkit-animation: display 0.5s;
    display: flex;
    text-decoration: none;
    animation-fill-mode: forwards;


    &:hover {

        .prix {
            transform: translateX(-100px);
        }

        .bouton-valider {
            transform: translateX(-40px) scaleX(2);
        }

        .bouton-valider-icone {
            transform: rotate(360deg);
        }
    }

}

.option-menu-moyen {
    -webkit-animation: display 2s;
    display: flex;
    text-decoration: none;
    animation-fill-mode: forwards;

    &:hover {

        .prix {
            transform: translateX(-100px);
        }

        .bouton-valider {
            transform: translateX(-40px) scaleX(2);
        }

        .bouton-valider-icone {
            transform: rotate(360deg);
        }
    }

}

.option-menu-lent {
    -webkit-animation: display 4s;
    display: flex;
    text-decoration: none;
    animation-fill-mode: forwards;

    &:hover {

        .prix {
            transform: translateX(-100px);
        }

        .bouton-valider {
            transform: translateX(-40px) scaleX(2);
        }

        .bouton-valider-icone {
            transform: rotate(360deg);
        }
    }
}

.bouton-valider {
    display: flex;
    background: lightgreen;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    border-radius: 0% 20% 20% 0%;
    transform: translateX(0px) scaleX(0);
    transition: transform 2s;

    &:hover {
        cursor: grab;
    }
}

.bouton-valider-icone {
    border: solid 1px;
    border-radius: 50% 50% 50% 50%;
    margin: 20px;
    transform: rotate(0deg);
    transition: transform 1s;

    &:hover {
        cursor: grab;
    }
}



.bouton-explorer {

    border-radius: 20px;
    color: $color-secondary;
    font-size: 20px;
    line-height: 50px;
    background: blueviolet;
    text-decoration: none;
    @include border;
    margin-top: 20px;
    transform: scale(1);
    transition: transform 400ms;

    &:hover {
        transform: scale(1.15);
        background: lighten($color: blueviolet, $amount: 15%);
    }
}

.numero-etape {
    display: flex;
    border: solid 1px black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #AB4FC4;
    color: white;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-right: -15px;
    z-index: 1;
}


.bouton-etape {
    border-radius: 20px;
    color: black;
    font-size: 20px;
    line-height: 50px;
    background: $color-secondary;
    text-decoration: none;
    @include border;
    padding: 20px;
    background-color: $color-primary;
    width: 100%;
    transform: scale(1);
    transition-property: transform;

    &:hover {
        transform: scale(1.15);
        background-color: #DBBCE3;

        .fa-solid {
            color: #AB4FC4;
        }
    }
}

.bouton-option-menu {
    @include column;
    border-radius: 20px;
    color: black;
    font-size: 14px;
    background: $color-secondary;
    text-decoration: none;
    @include border;
    padding: 10px;
    width: 90%;
}

.bouton-commander {
    border-radius: 20px;
    color: $color-secondary;
    font-size: 20px;
    line-height: 50px;
    background: blueviolet;
    text-decoration: none;
    @include border;
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 60px;

    &:hover {
        background: lighten($color: blueviolet, $amount: 15%);
    }
}

.bouton-option-menu-titre {
    @include column;
}

.texte-option-menu {
    display: flex;
    justify-content: space-between;
}

.nom-plat {
    display: flex;
}

.prix {
    display: flex;
    transition: transform 2s;
    transform: translateX(0);
}

.restaurants {
    background-color: $color-primary;
    padding-bottom: 40px;
    padding-top: 40px;
}

.cards-restaurants {
    @include column;
    gap: 20px;
    align-items: center;

}

.card-restaurant {
    width: 90%;
    height: 300px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-color: $color-secondary;

    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px;
    }
}


.texte-restaurant {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.titre-restaurant {
    flex-direction: column;
}

.icone-etoile {
    margin: 20px;
}

.fa-regular {
    width: 20px;
    font-size: x-large;

    &:hover {
        cursor: pointer;
        color: purple;
    }
}



.footer {
    height: 200px;
    background-color: dimgray;
    @include column;
    color: $color-secondary;
    justify-content: space-around;
    padding-left: 20px;

    a {
        text-decoration: none;
        color: $color-secondary;

    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-restaurant {
        width: 45%;
    }

    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .titre {
        text-align: center;
        font-size: x-large;
    }

    .etape {
        width: 60%;
    }

    .options {
        @include options;
        align-items: center;
    }

    .option-menu-rapide {
        width: 60%;
    }

    .option-menu-moyen {
        width: 60%;
    }

    .option-menu-lent {
        width: 60%;
    }

    .bouton-commander {
        margin-top: 60px;
    }

    .image-principale {
        height: 400px;
    }

}

@media screen and (min-width:993px) {

    .etape {
        width: 40%;
    }

    .titre {
        text-align: center;
        font-size: x-large;
    }

    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-restaurant {
        width: 20%;
    }

    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .options {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .option-menu-rapide {
        width: 25%;
        text-decoration: none;

    }

    .option-menu-moyen {
        width: 25%;
    }

    .option-menu-lent {
        width: 25%;
    }

    .bouton-commander {
        margin-top: 60px;
    }

    .header {
        margin-left: 10%;
        margin-right: 10%;
    }

    .image-principale {
        height: 500px;
        margin: auto;
    }

    .logo {
        width: 50%;
        margin: auto;
    }

}