$color-primary: #F2F4F4;
$color-secondary: #ffffff;

@mixin border {
    border: 1px solid #dcdcdc;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    box-sizing: content-box;
    margin: auto;
}

main {
    border-radius: 20px;
    @include column;
}

.header {
    padding-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    @include column;
}

.logo {
    text-align: center;

    img {
        width: 40%;
    }
}



.formulaires {
    @include column;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: $color-primary;
    padding-bottom: 40px;
    margin-top: 20px;
}

.menu {

    background-color: $color-primary;
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 30px;
}

.lieu {
    display: flex;
    background-color: #cfd2d2;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.image-principale {
    width: 100%;
    height: 250px;

    img {
        height: 100%;
        width: 100%;
    }
}



.form {
    @include column;
    width: 60%;
}

.fonctionnement {
    @include column;
    height: 450px;
}

.titre {
    font-size: larger;
    margin-left: 20px;
}

.etapes {
    @include column;
    align-items: center;
    gap: 30px;
}

.etape {
    width: 80%;
    display: flex;
    text-align: center;

}

.entrées {
    @include options;
}

.plats {
    @include options;
}

.desserts {
    @include options;
}

.options {
    @include options;
}

.bouton-explorer {

    border-radius: 20px;
    color: $color-secondary;
    font-size: 20px;
    line-height: 50px;
    background: blueviolet;
    text-decoration: none;
    @include border;
    margin-top: 20px;
}



.bouton-etape {
    border-radius: 20px;
    color: black;
    font-size: 20px;
    line-height: 50px;
    background: $color-secondary;
    text-decoration: none;
    @include border;
    padding: 20px;
    background-color: $color-primary;
    width: 100%;
}

.bouton-option-menu {
    @include column;
    border-radius: 20px;
    color: black;
    font-size: 14px;
    background: $color-secondary;
    text-decoration: none;
    @include border;
    padding: 10px;
    width: 90%;
}

.bouton-commander {
    border-radius: 20px;
    color: $color-secondary;
    font-size: 20px;
    line-height: 50px;
    background: blueviolet;
    text-decoration: none;
    @include border;
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 60px;
}

.texte-option-menu {
    display: flex;
    justify-content: space-between;
}

.nom-plat {
    display: flex;
}

.prix {
    display: flex;
}

.restaurants {
    background-color: $color-primary;
    padding-bottom: 40px;
    padding-top: 40px;
}

.cards-restaurants {
    @include column;
    gap: 20px;
    align-items: center;

}

.card-restaurant {
    width: 90%;
    height: 300px;
    text-decoration: none;
    border-radius: 20px;
    background-color: $color-secondary;

    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px;
    }
}


.texte-restaurant {
    height: 30%;
    flex-direction: column;
    margin-left: 20px;
}

.footer {
    height: 200px;
    background-color: dimgray;
    @include column;
    color: $color-secondary;
    justify-content: space-around;
    padding-left: 20px;

    a {
        text-decoration: none;
        color: $color-secondary;

    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-restaurant {
        width: 45%;
    }

    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .titre {
        text-align: center;
        font-size: x-large;
    }

    .etape {
        width: 60%;
    }

    .options {
        @include options;
        align-items: center;
    }

    .option-menu {
        width: 60%;
    }

    .bouton-commander {
        margin-top: 60px;
    }

    .image-principale {
        height: 400px;
    }

}

@media screen and (min-width:993px) {

    .etape {
        width: 40%;
    }

    .titre {
        text-align: center;
        font-size: x-large;
    }

    .cards-restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-restaurant {
        width: 20%;
    }

    .footer {
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .options {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .option-menu {
        width: 25%;

    }

    .bouton-commander {
        margin-top: 60px;
    }

    .image-principale {
        height: 600px;
    }
}